<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spring Boot Wildfly</title>
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        p {
            text-align: center;
            font-size: larger;
        }
    </style>
</head>
<body>
<h1 style="color: forestgreen; text-align: center; font-size: xxx-large">Welcome to Spring Boot Wildlfy</h1>
<br>
<p>This is the homepage of the Java Project "spring-boot-wildfly-demo"</p>

<img src="https://cdn1.vogel.de/unsafe/fit-in/1000x0/images.vogel.de/vogelonline/bdb/1779000/1779041/original.jpg" alt="Spring-Boot">
</body>
</html>